html {
    scroll-behavior: smooth; /* smooth scroll when navigating between anchor links */
}
body {
    padding-top: 3.5rem; /* Move down content because we have a fixed navbar that is 3.5rem tall */
}

.row {
    margin-bottom: 2rem;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}